$color-dark-gray: #585854;
$color-light-gray: #F4F4F4;
$color-darker-gray: #080808;
$color-yellow: #FFCD03;

body {
    background-color: $color-darker-gray;
}

.header {
    background-color: $color-yellow !important;
}

.footer {
    background-color: $color-darker-gray !important;
}